<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>결</string>
    <key>CFBundleName</key>
    <string>Gyeol</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Fonts/Pretendard-Regular.ttf</string>
        <string>Fonts/Pretendard-Medium.ttf</string>
        <string>Fonts/Pretendard-SemiBold.ttf</string>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>음성으로 답변을 입력할 수 있도록 마이크 사용을 허용해주세요. 음성은 기기에서 직접 처리되며 외부로 전송되지 않습니다.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>음성을 텍스트로 변환하기 위해 음성 인식 사용을 허용해주세요. 변환은 기기 내에서 처리됩니다.</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
    </dict>
    <key>SUPABASE_URL</key>
    <string>$(SUPABASE_URL)</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>$(SUPABASE_ANON_KEY)</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>CFBundleLocalizations</key>
    <array>
        <string>ko</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>ko</string>
</dict>
</plist>
